.section-advantages {
  padding-bottom: 0;
  @media screen and (min-width: 768px) {
    padding-top: 30px;
    margin-bottom: 60px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
  }
}

.advantages__item {
  padding-top: 30px;
  width: 100%;
  @media screen and (min-width: 768px) {
    // padding-bottom: 30px;
    width: calc(50% - 15px);
  }
  @media screen and (min-width: 1200px) {
    padding-bottom: 0;
    width: calc(25% - 15px);
  }

  &:last-child {
    padding-bottom: 0;
  }
}

.advantages {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.advantages__title {
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
  @media screen and (min-width: 768px) {
    text-align: left;
  }
}

.advantages__div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  border-radius: 4px;
  background-color: var(--section-color);
}

.advantages__icon {
  width: 70px;
  height: 70px;
}

.advantages__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
